#audio-box {
  width: 620px;
  max-width: 100%;
  height: 198px;
  padding: 20px;
  text-align: left;
  background: #CFD3D6;
}
#play {
	cursor: pointer;
	user-select: none;
}
.fa-play:before {
  content: url("./Play.png");
}
.fa-pause:before {
  content: url("./Pause.png");
}
.time-volume {
	display: flex;
	align-items: center;
}

.time-volume > * {
	flex: 1;
}
#progress[type="range"], #volume[type="range"] {
	-webkit-appearance: none;
	margin: 40px 0;
	width: 100%;
}
#volume[type="range"] {
	margin: 0;
}
#progress[type="range"]:focus, #volume[type="range"]:focus {
	outline: none;
}
/*Chrome*/
#progress[type="range"]::-webkit-slider-runnable-track, #volume[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #fff;
	border-radius: 0;
}
#progress[type="range"]::-webkit-slider-thumb, #volume[type="range"]::-webkit-slider-thumb {
	height: 12px;
  width: 16px;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
/*Firefox*/
#progress[type="range"]::-moz-range-track, #volume[type="range"]::-moz-range-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #fff;
	border-radius: 0;
}
#progress[type="range"]::-moz-range-thumb, #volume[type="range"]::-moz-range-thumb {
	height: 12px;
  width: 16px;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
/*IE*/
#progress[type="range"]::-ms-track, #volume[type="range"]::-ms-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #fff;
	border-radius: 0;
}
#progress[type="range"]::-ms-thumb, #volume[type="range"]::-ms-thumb {
	height: 12px;
  width: 16px;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
/*Chrome*/
#volume[type="range"]::-webkit-slider-runnable-track {
	background: #000;
}
#volume[type="range"]::-webkit-slider-thumb {
  border-radius: 0;
  background: #000;
}
/*Firefox*/
#volume[type="range"]::-moz-range-track {
	background: #000;
}
#volume[type="range"]::-moz-range-thumb {
  border-radius: 0;
  background: #000;
}
/*IE*/
#volume[type="range"]::-ms-track {
	background: #000;
}
#volume[type="range"]::-ms-thumb {
  border-radius: 0;
  background: #000;
}
#progress[type="range"]::-ms-fill-lower, #volume[type="range"]::-ms-fill-lower {
	background: #2a6495;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
#progress[type="range"]::-ms-fill-upper, #volume[type="range"]::-ms-fill-upper {
	background: #3071a9;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
#progress[type="range"]:focus::-ms-fill-lower, #volume[type="range"]:focus::-ms-fill-lower {
	background: #3071a9;
}
#progress[type="range"]:focus::-ms-fill-upper, #volume[type="range"]:focus::-ms-fill-upper {
	background: #367ebd;
}
